---
layout: home
background: '/img/bg-index.jpg'
---
<!doctype html>
  <html
    ng-controller="AppController"
    inv-key-combos
    inv-realtime
    lang="en"
    ng-class="{ 'embed': share.isEmbed }">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="referrer" content="origin" />
    
      <title ng-bind="windowTitle">
        Loading Share Experience
      </title>

      



  
  <link rel="icon" type="image/png" href="https://static.invisionapp-cdn.com/spa/cfprojects/common/img/favicon-16x16.2648d8282b.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://static.invisionapp-cdn.com/spa/cfprojects/common/img/favicon-32x32.94899e98c6.png" sizes="32x32" />



      <!-- Custom webfonts -->
      <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">

      <!--
        We need to setup the listener for campaign decisions before optimizely is setup.
        As optimizely is being setup in multiple places, this is the only safe place for this to happen.
        We're using this data later on in analytics.js
      -->

      <script>
        (function(){
          function queueOptimizelyCampaignData(event) {
            window.optimizelyCampaignsQueue.push(event);
          };

          window.optimizely = window.optimizely || [];
          window.optimizelyCampaignsQueue = [];
          window.optimizely.push({
            type: "addListener",
            filter: {
              type: "lifecycle",
              name: "campaignDecided"
            },
            handler: queueOptimizelyCampaignData,
            token: "queueOptimizelyCampaignDecisions"
          });
        })();
      </script>

      <script>
        window.amplitudeQueue = window.amplitudeQueue || [];
      </script>

      

      <script>
        window['GoogleAnalyticsObject'] = 'ga';
        window['ga'] = window['ga'] || function() {
          (window['ga'].q = window['ga'].q || []).push(arguments)
        };
      </script>

      <!-- inject:css -->
       <link rel="stylesheet" href="https://static.invisionapp-cdn.com/spa/cfprojects/share/lib/vendor.min.513d9d84f8.css" /> 
       <link rel="stylesheet" href="https://static.invisionapp-cdn.com/spa/cfprojects/share/lib/style.min.fba8fdc6b7.css" /> 
      <!-- endinject -->

    </head>
    <body ng-class="bodyClass" ng-style="bodyStyle" class="share-v2">

      <!-- <div style="height:30px;width:100%;z-index:500;background-color:#000;text-align: center;font-weight: bold;color: white;padding-top:20px;">V2 Share Experience</div> -->

      <!-- BEGIN: Loading Sequence. -->
      <div
        ng-if="isLoadingOpen"
        ng-controller="loading.LoadingController"
        inv-loading-sequence
        class="m-loading"
        ng-class="{ 'embed': share.isEmbed }">

        <!-- BEGIN: Loading Indicator. -->

        <div class="loading-backdrop" style="background-color: ">

          <div class="loading-container">

            <div class="status-container"
              style="">

              

                <div class="status"></div>

              

              

                <div class="logo"></div>

              

            </div> <!-- status-container -->

            <h2 style="color: ">
              
                Loading Your Experience
              
            </h2>

          </div> <!-- loading-container -->

        </div> <!-- loading-backdrop -->

        <!-- END: Loading Indicator. -->

      </div>
      <!-- END: Loading Sequence. -->


      <div ng-include=" '/assets/apps/share/views/partials/preload.htm' "></div>
      <div ng-include=" '/assets/apps/share/views/layouts/modal.htm' "></div>
      <div ng-include=" '/assets/apps/share/views/toolbar/toolbar.htm' "></div>
      <div ng-include=" '/assets/apps/share/views/powered-by/powered-by.htm' "></div>
      <div ng-include=" '/assets/apps/share/views/partials/auth-ask-banner.htm' "></div>

      <div
        ng-if="isBrowseOpen"
        ng-include=" '/assets/apps/share/views/browse/browse.htm' ">
      </div>

      <!--
        In order to be able to disable horizontal scrolling for some screens, we
        need to wrap the view in order to be able to maintain screen alignment.
      -->
      <div class="desktop-wrapper">

        <!-- Tour Points (in preview mode). -->
        <div
          ng-if="( subview == 'preview' )"
          ng-include=" '/assets/apps/share/views/preview/preview-tour-comments.htm' ">
        </div>

        <div
          ng-if="( subview == 'comments' )"
          ng-include=" '/assets/apps/share/views/comments/comments.htm' ">
        </div>

        <div
          ng-if="( subview == 'preview' )"
          is-share-loaded="{{ ! isLoadingOpen }}"
          inv-preview-auto-redirect-listener
          ng-include=" '/assets/apps/share/views/preview/preview.htm' ">
        </div>

        <div
          ng-show="( subview == 'comments' )"
          ng-include=" '/assets/apps/share/views/screens/screens.htm' ">
        </div>

      </div>

      <div
        ng-if="browserCompatibility.isNotCompatible"
        class="m-browser-compatibility ng-cloak">
      </div>


      

      
      

        <script async onload="(window.optimizelyLoadedCb && window.optimizelyLoadedCb()) || function(){
          if (!window.optimizely || Array.isArray(window.optimizely)) {
            window.optimizelyFailed = true;
          }
        }" src="//cdn.optimizely.com/js/10316326513.js"></script>

      

      <!-- inject:js -->
       <script src="https://static.invisionapp-cdn.com/spa/cfprojects/share/lib/vendor.min.4a51cacd15.js"></script> 
       <script src="https://static.invisionapp-cdn.com/spa/cfprojects/share/lib/invision.min.ab681dd7a3.js"></script> 
      <!-- endinject -->

      <!-- inject:meta -->
      <!-- endinject -->

      <canvas id="renderCanvas" style="position: absolute;left: -9999px;top: -9999px;"></canvas>





    </body>
  </html>

